@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Blog> BlogList = new List<Blog>();
}

@model List<Blog>





<div class="container-fluid">
    <section>
       <div class="container">
            <img src="https://img.jakpost.net/c/2019/03/05/2019_03_05_66925_1551774632._large.jpg" alt="home_image" class="img-fluid w-100" />
       </div>
    </section>
   <section>

       <div class="container">
           <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="container_center">
                        <blockquote class="blockquote text-center">
                            <p class="mb-1 quote"><span class="fa-solid fa-quote-left"></span>
                                Trendy is the last stage before tacky.<span class="fa-solid fa-quote-right"></span>
                            </p>
                            <br />
                            <footer class="blockquote-footer"> Karl Lagerfeld, <cite title="Source Title">Fashion Designer</cite></footer>
                        </blockquote>
                   </div>
                    
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
                    <div id="carouselExample" class="carousel slide w-75">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://media.vogue.fr/photos/63ee0b6ed869ed764d500040/2:3/w_2560%2Cc_limit/1447567270://wallpaperaccess.com/full/3876166.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://media.vogue.fr/photos/5d84ed212acc3e0008b1f4e9/2:3/w_2560%2Cc_limit/001-Chanel-PFW-VogueInt-10Sept19-GettyImages.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://media.voguebusiness.com/photos/622797564430ce077a64ce4f/master/pass/pfw-wrap-voguebus-Stephane-Cardinale_Corbis-via-Getty-Images-mar-22-story.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
           </div>
       </div>
       
    </section>
    <hr/>
    <section>
        <div class="container">
            <h1 class="text-center m-2 text_variant letter_spaced_caps">Featured Blogs</h1>
            <hr />
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="card mb-4 card_styling">

                            @{
                                var filePathParts = item.FilePath.Split(',');
                            }

                            @if (item.FilePath.Contains(','))
                            {
                                <img src="@Html.DisplayFor(modelItem => filePathParts[0])" class="card-img-top card_image" alt="images" style="object-fit:contain">
                            }
                            else{
                                <img src="@Html.DisplayFor(modelItem => item.FilePath)" class="card-img-top card_image" alt="images" style="object-fit:contain">
                            }

                            <div class="card-body">
                                <h4 class="card-title text-center text_variant mb-3 card_overflow letter_spaced ">@Html.DisplayFor(modelItem => item.BlogTitle)</h4>
                                <h6 class="card-subtitle text-center text-italic mb-2 text-secondary card_overflow">
                                    @Html.DisplayFor(modelItem => item.BlogSubtitle)
                                </h6>
                                @* <p class="card-text mb-2 text-center fw-light card_overflow">
                                    @Html.DisplayFor(modelItem => item.BlogDescription)
                                </p> *@
                                <p class="card-text text-italic text-center fw-bold">
                                    @if (!string.IsNullOrWhiteSpace(item.BlogKeywords))
                                    {
                                        <span>#@item.BlogKeywords.Replace(",", ",#")</span>
                                    }
                                </p>
                                <a asp-action="BlogDetails" asp-route-id="@item.BlogId" class="submit_button letter_spaced">Read-More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>

</div>

@section scripts {
    <script>
     

        fetch('/Upload/GetBlogs', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json', // You can adjust the content type as needed
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                BlogList = data;

                console.log(BlogList);
            })
            .catch(error => {
                console.log(error);
            });


    </script>

}

